.hero-animation {
  max-width: 800px;
  height: 400px;
  position: relative;
  margin: 0 auto;
}
.hero-animation img:not(.hex-main) {
   position: absolute;
   right: 0;
   top: 50%;
   left: 50%;
}
.hex-main {
  position: absolute;
  z-index: 9999;
}
@media (max-width: 860px) {
  .hex-10 {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero-animation {
    display: none;
  }
}

.hex-2 {
  animation: animation-2 6.25s linear both
}
@keyframes animation-2 {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  15.9% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  16% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  18.64% {
    transform: matrix(1, 0, 0, 1, 92.211, -80.184)
  }
  19.9% {
    transform: matrix(1, 0, 0, 1, 124.679, -108.416)
  }
  20% {
    transform: matrix(1, 0, 0, 1, 126.982, -110.419)
  }
  21.29% {
    transform: matrix(.907, .42, -.42, .907, 153.269, -133.277)
  }
  22.08% {
    transform: matrix(.785, .619, -.619, .785, 166.741, -144.993)
  }
  23.93% {
    transform: matrix(.436, .9, -.9, .436, 190.999, -166.086)
  }
  24.16% {
    transform: matrix(.391, .92, -.92, .391, 193.496, -168.258)
  }
  26.57% {
    transform: matrix(-.018, 1, -1, -.018, 212.75, -185)
  }
  28.25% {
    transform: matrix(-.229, .973, -.973, -.229, 220.978, -192.155)
  }
  31.86% {
    transform: matrix(-.509, .861, -.861, -.509, 229.815, -199.84)
  }
  32.41% {
    transform: matrix(-.537, .844, -.844, -.537, 230.477, -200.415)
  }
  36.5% {
    transform: matrix(-.665, .747, -.747, -.665, 232.406, -202.092)
  }
  37.06% {
    transform: matrix(-.675, .737, -.737, -.675, 232.423, -202.107)
  }
  44.74% {
    transform: matrix(-.739, .674, -.674, -.739, 231.201, -201.045)
  }
  52.99% {
    transform: matrix(-.747, .665, -.665, -.747, 230.251, -200.218)
  }
  69.09% {
    transform: matrix(-.744, .668, -.668, -.744, 229.993, -199.994)
  }
  96% {
    transform: matrix(-.743, .669, -.669, -.743, 230, -200)
  }
  to {
    transform: matrix(-.743, .669, -.669, -.743, 230, -200)
  }
}

.hex-3 {
  animation: animation-3 6.25s linear both
}

@keyframes animation-3 {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  15.9% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  16% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  18.11% {
    transform: matrix(1, 0, 0, 1, -92.211, -64.147)
  }
  19.9% {
    transform: matrix(1, 0, 0, 1, -145.52, -101.231)
  }
  20% {
    transform: matrix(1, 0, 0, 1, -147.942, -102.916)
  }
  20.23% {
    transform: matrix(.996, .084, -.084, .996, -153.269, -106.622)
  }
  22.34% {
    transform: matrix(.649, .761, -.761, .649, -190.999, -132.869)
  }
  23.44% {
    transform: matrix(.326, .945, -.945, .326, -203.915, -141.854)
  }
  24.46% {
    transform: matrix(.025, 1, -1, .025, -212.75, -148)
  }
  26.89% {
    transform: matrix(-.519, .855, -.855, -.519, -225.443, -156.83)
  }
  28.68% {
    transform: matrix(-.727, .686, -.686, -.727, -229.815, -159.872)
  }
  30.33% {
    transform: matrix(-.821, .571, -.571, -.821, -231.678, -161.167)
  }
  32.85% {
    transform: matrix(-.871, .491, -.491, -.871, -232.423, -161.686)
  }
  33.77% {
    transform: matrix(-.874, .487, -.487, -.874, -232.364, -161.644)
  }
  42.66% {
    transform: matrix(-.775, .631, -.631, -.775, -230.547, -160.381)
  }
  51.55% {
    transform: matrix(-.733, .68, -.68, -.733, -230.025, -160.018)
  }
  58.47% {
    transform: matrix(-.739, .674, -.674, -.739, -229.993, -159.995)
  }
  69.33% {
    transform: matrix(-.744, .668, -.668, -.744, -229.999, -159.999)
  }
  80% {
    transform: matrix(-.743, .669, -.669, -.743, -230, -160)
  }
  87.19% {
    transform: matrix(-.743, .669, -.669, -.743, -230, -160)
  }
  to {
    transform: matrix(-.743, .669, -.669, -.743, -230, -160)
  }
}

.hex-4 {
  animation: animation-4 30.1s linear both
}

@keyframes animation-4 {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  0.23% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  0.33% {
    transform: matrix(0, 0, 0, 0, 0, 0)
  }
  3.22% {
    transform: matrix(.356, 0, 0, .356, 0, 0)
  }
  3.32% {
    transform: matrix(.368, 0, 0, .368, 0, 0)
  }
  3.76% {
    transform: matrix(.419, 0, 0, .419, -92.211, 64.147)
  }
  4.05% {
    transform: matrix(.452, 0, 0, .452, -135.766, 94.446)
  }
  4.15% {
    transform: matrix(.463, 0, 0, .463, -147.942, 102.916)
  }
  4.2% {
    transform: matrix(.467, .039, -.039, .467, -153.269, 106.622)
  }
  4.62% {
    transform: matrix(.345, .382, -.382, .345, -189.881, 132.091)
  }
  4.64% {
    transform: matrix(.335, .393, -.393, .335, -190.999, 132.869)
  }
  4.87% {
    transform: matrix(.176, .511, -.511, .176, -203.915, 141.854)
  }
  5.08% {
    transform: matrix(.014, .562, -.562, .014, -212.75, 148)
  }
  5.58% {
    transform: matrix(-.318, .524, -.524, -.318, -225.443, 156.83)
  }
  5.96% {
    transform: matrix(-.472, .445, -.445, -.472, -229.815, 159.872)
  }
  6.3% {
    transform: matrix(-.559, .388, -.388, -.559, -231.678, 161.167)
  }
  6.82% {
    transform: matrix(-.632, .357, -.357, -.632, -232.423, 161.686)
  }
  7.01% {
    transform: matrix(-.648, .361, -.361, -.648, -232.364, 161.644)
  }
  8.86% {
    transform: matrix(-.679, .553, -.553, -.679, -230.547, 160.381)
  }
  8.91% {
    transform: matrix(-.679, .558, -.558, -.679, -230.514, 160.357)
  }
  10.7% {
    transform: matrix(-.712, .661, -.661, -.712, -230.025, 160.018)
  }
  12.14% {
    transform: matrix(-.757, .69, -.69, -.757, -229.993, 159.995)
  }
  13.2% {
    transform: matrix(-.782, .704, -.704, -.782, -229.996, 159.997)
  }
  14.4% {
    transform: matrix(-.799, .718, -.718, -.799, -229.999, 159.999)
  }
  16.61% {
    transform: matrix(-.812, .731, -.731, -.812, -230, 160)
  }
  17.49% {
    transform: matrix(-.812, .732, -.732, -.812, -230, 160)
  }
  18.1% {
    transform: matrix(-.812, .731, -.731, -.812, -230, 160)
  }
  20.76% {
    transform: matrix(-.803, .723, -.723, -.803, -230, 160)
  }
  28.57% {
    transform: matrix(-.758, .683, -.683, -.758, -230, 160)
  }
  39.64% {
    transform: matrix(-.739, .665, -.665, -.739, -230, 160)
  }
  61.79% {
    transform: matrix(-.743, .669, -.669, -.743, -230, 160)
  }
  84.04% {
    transform: matrix(-.743, .669, -.669, -.743, -230, 160)
  }
  to {
    transform: matrix(-.743, .669, -.669, -.743, -230, 160)
  }
}

.hex-5 {
  animation: animation-5 30.1s linear both
}

@keyframes animation-5 {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  0.23% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  0.33% {
    transform: matrix(0, 0, 0, 0, 0, 0)
  }
  3.22% {
    transform: matrix(.356, 0, 0, .356, 0, 0)
  }
  3.32% {
    transform: matrix(.368, 0, 0, .368, 0, 0)
  }
  3.76% {
    transform: matrix(.419, 0, 0, .419, 52.119, 40.092)
  }
  4.05% {
    transform: matrix(.452, 0, 0, .452, 76.737, 59.029)
  }
  4.15% {
    transform: matrix(.463, 0, 0, .463, 83.619, 64.323)
  }
  4.2% {
    transform: matrix(.467, .039, -.039, .467, 86.63, 66.639)
  }
  4.62% {
    transform: matrix(.345, .382, -.382, .345, 107.324, 82.557)
  }
  4.64% {
    transform: matrix(.335, .393, -.393, .335, 107.956, 83.043)
  }
  4.87% {
    transform: matrix(.176, .511, -.511, .176, 115.256, 88.659)
  }
  5.08% {
    transform: matrix(.014, .562, -.562, .014, 120.25, 92.5)
  }
  5.58% {
    transform: matrix(-.318, .524, -.524, -.318, 127.425, 98.019)
  }
  5.96% {
    transform: matrix(-.472, .445, -.445, -.472, 129.896, 99.92)
  }
  6.3% {
    transform: matrix(-.559, .388, -.388, -.559, 130.948, 100.73)
  }
  6.82% {
    transform: matrix(-.632, .357, -.357, -.632, 131.37, 101.054)
  }
  7.01% {
    transform: matrix(-.648, .361, -.361, -.648, 131.336, 101.028)
  }
  8.86% {
    transform: matrix(-.679, .553, -.553, -.679, 130.309, 100.238)
  }
  8.91% {
    transform: matrix(-.679, .558, -.558, -.679, 130.29, 100.223)
  }
  10.7% {
    transform: matrix(-.712, .661, -.661, -.712, 130.014, 100.011)
  }
  12.14% {
    transform: matrix(-.757, .69, -.69, -.757, 129.996, 99.997)
  }
  13.2% {
    transform: matrix(-.782, .704, -.704, -.782, 129.998, 99.998)
  }
  14.4% {
    transform: matrix(-.799, .718, -.718, -.799, 129.999, 99.999)
  }
  16.61% {
    transform: matrix(-.812, .731, -.731, -.812, 130, 100)
  }
  17.49% {
    transform: matrix(-.812, .732, -.732, -.812, 130, 100)
  }
  18.1% {
    transform: matrix(-.812, .731, -.731, -.812, 130, 100)
  }
  20.76% {
    transform: matrix(-.803, .723, -.723, -.803, 130, 100)
  }
  28.57% {
    transform: matrix(-.758, .683, -.683, -.758, 130, 100)
  }
  39.64% {
    transform: matrix(-.739, .665, -.665, -.739, 130, 100)
  }
  61.79% {
    transform: matrix(-.743, .669, -.669, -.743, 130, 100)
  }
  84.04% {
    transform: matrix(-.743, .669, -.669, -.743, 130, 100)
  }
  to {
    transform: matrix(-.743, .669, -.669, -.743, 130, 100)
  }
}

.hex-6 {
  animation: animation-6 4s linear both
}

@keyframes animation-6 {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  24.9% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  25% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  27.48% {
    transform: matrix(1, 0, 0, 1, -76.175, 8.018)
  }
  29.95% {
    transform: matrix(1, 0, 0, 1, -126.613, 13.328)
  }
  32.43% {
    transform: matrix(1, 0, 0, 1, -157.782, 16.609)
  }
  34.91% {
    transform: matrix(1, 0, 0, 1, -175.75, 18.5)
  }
  39.86% {
    transform: matrix(1, 0, 0, 1, -189.848, 19.984)
  }
  44.74% {
    transform: matrix(1, 0, 0, 1, -192.002, 20.211)
  }
  74.77% {
    transform: matrix(1, 0, 0, 1, -189.994, 19.999)
  }
  to {
    transform: matrix(1, 0, 0, 1, -190, 20)
  }
}

.hex-7 {
  animation: animation-7 4s linear both
}

@keyframes animation-7 {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  24.9% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  25% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  27.48% {
    transform: matrix(1, 0, 0, 1, -136.312, -16.037)
  }
  29.95% {
    transform: matrix(1, 0, 0, 1, -226.571, -26.655)
  }
  32.43% {
    transform: matrix(1, 0, 0, 1, -282.347, -33.217)
  }
  34.91% {
    transform: matrix(1, 0, 0, 1, -314.5, -37)
  }
  39.86% {
    transform: matrix(1, 0, 0, 1, -339.727, -39.968)
  }
  44.74% {
    transform: matrix(1, 0, 0, 1, -343.582, -40.421)
  }
  74.77% {
    transform: matrix(1, 0, 0, 1, -339.989, -39.999)
  }
  to {
    transform: matrix(1, 0, 0, 1, -340, -40)
  }
}

.hex-8 {
  animation: animation-8 5s linear both
}

@keyframes animation-8 {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  19.9% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  20% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  21.98% {
    transform: matrix(.887, .461, -.461, .887, -132.303, 52.119)
  }
  22.8% {
    transform: matrix(.797, .604, -.604, .797, -173.381, 68.302)
  }
  23.96% {
    transform: matrix(.651, .759, -.759, .651, -219.907, 86.63)
  }
  25.53% {
    transform: matrix(.453, .892, -.892, .453, -264.802, 104.316)
  }
  25.95% {
    transform: matrix(.403, .915, -.915, .403, -274.043, 107.956)
  }
  27.93% {
    transform: matrix(.196, .981, -.981, .196, -305.25, 120.25)
  }
  28.25% {
    transform: matrix(.168, .986, -.986, .168, -308.739, 121.624)
  }
  30.97% {
    transform: matrix(-.019, 1, -1, -.019, -326.862, 128.764)
  }
  31.89% {
    transform: matrix(-.062, .998, -.998, -.062, -329.735, 129.896)
  }
  35.8% {
    transform: matrix(-.171, .985, -.985, -.171, -333.477, 131.37)
  }
  36.42% {
    transform: matrix(-.179, .984, -.984, -.179, -333.431, 131.352)
  }
  41.86% {
    transform: matrix(-.207, .978, -.978, -.207, -331.622, 130.639)
  }
  57.88% {
    transform: matrix(-.178, .984, -.984, -.178, -329.991, 129.997)
  }
  59.82% {
    transform: matrix(-.177, .984, -.984, -.177, -329.989, 129.996)
  }
  73.89% {
    transform: matrix(-.173, .985, -.985, -.173, -329.999, 130)
  }
  80% {
    transform: matrix(-.173, .985, -.985, -.173, -330, 130)
  }
  to {
    transform: matrix(-.174, .985, -.985, -.174, -330, 130)
  }
}

.hex-9 {
  animation: animation-9 5s linear both
}

@keyframes animation-9 {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  19.9% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  20% {
    transform: matrix(2, 0, 0, 2, 0, 0)
  }
  21.98% {
    transform: matrix(1.543, .801, -.801, 1.543, 92.211, -40.092)
  }
  22.56% {
    transform: matrix(1.382, .948, -.948, 1.382, 112.985, -49.124)
  }
  22.8% {
    transform: matrix(1.316, .998, -.998, 1.316, 120.842, -52.54)
  }
  23.96% {
    transform: matrix(1.006, 1.173, -1.173, 1.006, 153.269, -66.639)
  }
  25.05% {
    transform: matrix(.749, 1.255, -1.255, .749, 176.241, -76.627)
  }
  25.53% {
    transform: matrix(.647, 1.274, -1.274, .647, 184.559, -80.243)
  }
  25.95% {
    transform: matrix(.564, 1.283, -1.283, .564, 190.999, -83.043)
  }
  27.93% {
    transform: matrix(.254, 1.27, -1.27, .254, 212.75, -92.5)
  }
  28.25% {
    transform: matrix(.215, 1.263, -1.263, .215, 215.182, -93.557)
  }
  30.01% {
    transform: matrix(.044, 1.213, -1.213, .044, 224.71, -97.7)
  }
  30.97% {
    transform: matrix(-.022, 1.184, -1.184, -.022, 227.813, -99.049)
  }
  31.89% {
    transform: matrix(-.072, 1.157, -1.157, -.072, 229.815, -99.92)
  }
  35.06% {
    transform: matrix(-.173, 1.083, -1.083, -.173, 232.367, -101.029)
  }
  35.8% {
    transform: matrix(-.185, 1.07, -1.07, -.185, 232.423, -101.054)
  }
  36.42% {
    transform: matrix(-.193, 1.06, -1.06, -.193, 232.391, -101.04)
  }
  40.02% {
    transform: matrix(-.214, 1.022, -1.022, -.214, 231.591, -100.692)
  }
  41.86% {
    transform: matrix(-.214, 1.01, -1.01, -.214, 231.13, -100.491)
  }
  50.03% {
    transform: matrix(-.193, .99, -.99, -.193, 230.115, -100.05)
  }
  57.88% {
    transform: matrix(-.179, .986, -.986, -.179, 229.994, -99.997)
  }
  59.82% {
    transform: matrix(-.177, .986, -.986, -.177, 229.993, -99.997)
  }
  60.04% {
    transform: matrix(-.177, .986, -.986, -.177, 229.993, -99.997)
  }
  73.89% {
    transform: matrix(-.173, .985, -.985, -.173, 230, -100)
  }
  80% {
    transform: matrix(-.173, .985, -.985, -.173, 230, -100)
  }
  to {
    transform: matrix(-.174, .985, -.985, -.174, 230, -100)
  }
}

.hex-10 {
  animation: animation-10 4s linear both
}

@keyframes animation-10 {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  24.9% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  25% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  27.48% {
    transform: matrix(1, 0, 0, 1, 156.358, -40.092)
  }
  29.95% {
    transform: matrix(1, 0, 0, 1, 259.89, -66.639)
  }
  32.43% {
    transform: matrix(1, 0, 0, 1, 323.869, -83.043)
  }
  34.91% {
    transform: matrix(1, 0, 0, 1, 360.75, -92.5)
  }
  39.86% {
    transform: matrix(1, 0, 0, 1, 389.687, -99.92)
  }
  44.74% {
    transform: matrix(1, 0, 0, 1, 394.109, -101.054)
  }
  74.77% {
    transform: matrix(1, 0, 0, 1, 389.987, -99.997)
  }
  to {
    transform: matrix(1, 0, 0, 1, 390, -100)
  }
}

.hex-11 {
  animation: animation-11 4s linear both
}

@keyframes animation-11 {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  24.9% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  25% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  27.4% {
    transform: matrix(1, 0, 0, 1, 111.576, 33.473)
  }
  29.73% {
    transform: matrix(1, 0, 0, 1, 180.213, 54.064)
  }
  32.06% {
    transform: matrix(1, 0, 0, 1, 224.03, 67.209)
  }
  34.38% {
    transform: matrix(1, 0, 0, 1, 251.936, 75.581)
  }
  39.11% {
    transform: matrix(1, 0, 0, 1, 281.188, 84.357)
  }
  43.77% {
    transform: matrix(1, 0, 0, 1, 292.605, 87.781)
  }
  53.15% {
    transform: matrix(1, 0, 0, 1, 298.913, 89.674)
  }
  62.54% {
    transform: matrix(1, 0, 0, 1, 299.849, 89.955)
  }
  to {
    transform: matrix(1, 0, 0, 1, 300, 90)
  }
}
