:root {
  --animation-duration: 0.7s;
  --animation--position-offset: 1rem;
}

.animation--fadeIn {
  opacity: 0;
  transform: translateY(var(--animation--position-offset));
  transition: all var(--animation-duration) ease;
}

.animation--fadeIn.visible {
  transform: translateY(0);
  opacity: 1;
}

.animation--fadeInLeft {
  opacity: 0;
  transform: translateX(calc(var(--animation--position-offset) * -1));
  transition: all var(--animation-duration) ease;
}

.animation--fadeInLeft.visible {
  transform: translateX(0);
  opacity: 1;
}

.animation--fadeInRight {
  opacity: 0;
  transform: translateX(var(--animation--position-offset));
  transition: all var(--animation-duration) ease;
}

.animation--fadeInRight.visible {
  transform: translateX(0);
  opacity: 1;
}

.animation--fadeInDown {
  opacity: 0;
  transform: translateY(calc(var(--animation--position-offset) * -1));
  transition: all var(--animation-duration) ease;
}

.animation--fadeInDown.visible {
  transform: translateY(0);
  opacity: 1;
}
